#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  padding: 1.25em;
}

.logo {
  height: 1.25em;
  will-change: filter;
  margin-right: 1em;
}

.card {
  padding: 2em;
}

.guess {
  font-size: 1.25em;
}

