#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  padding: 0.75em;
}

.logo {
  height: 1.25em;
  will-change: filter;
  margin-right: 1em;
}

.guess {
  padding: 1em;
  font-size: 1.25em;
}

.conj {
  padding: 1em;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  margin-top: 5px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggle {
  font-size: 0.75em;
}

.conjugation-text-box {
  width: 100%;
}

.add-link {
  margin-top: 2em;
}